<loader *ngIf="fetching"></loader>

<div class="card" *ngIf="!fetching">
  <header class="card__header">
    <p class="card__header--content">
      <span class="card__header--content-day">Day</span>
      {{ day }}
    </p>
  </header>
  <main class="card__body">
    <p class="card__body--text" *ngIf="card.workout">
      <span class="card__body--text--title"> Workout </span>
      <span
        class="card__body--text--variable"
        *ngFor="let item of workoutDescription"
      >
        - {{ item }}
      </span>
    </p>
    <p class="card__body--text" *ngIf="card.stretch">
      <span class="card__body--text--title">Stretch</span>
      <span
        class="card__body--text--variable"
        *ngFor="let item of stretchDescription"
      >
        - {{ item }}
      </span>
    </p>
    <p class="card__body--text" *ngIf="card.capoeira">
      <span class="card__body--text--title">
        Capoeira
      </span>
      <span
        class="card__body--text--variable"
        *ngFor="let item of capoeiraDescription"
      >
        - {{ item }}
      </span>
    </p>
    <p class="card__body--text" *ngIf="card.crossfit">
      <span class="card__body--text--title">
        CrossFit
      </span>
      <span
        class="card__body--text--variable"
        *ngFor="let item of crossfitDescription"
      >
        - {{ item }}
      </span>
    </p>
  </main>
</div>
