@import "./assets/styles/tools";
@import "./assets/styles/normalize";
@import "./assets/styles/base";

@import "./assets/styles/buttons";
@import "./assets/styles/form";
@import "./assets/styles/dropdown";

.alert {
    color: $guardsmanRed;
    background: $color-primary;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.success {
    color: $color-ternary;
    background: $color-primary;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.auth-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 300px;
    padding: 0 0 3rem;
    @include screen-sm {
        padding: 0 0 100px;
    }
}
