.form-group {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 20px auto 0;
    @media (min-width: $screen-sm) {
        max-width: 350px;
    }

    // error state
    &.error {
        .form-control {
            border-bottom: 1px solid $guardsmanRed;
            color: $guardsmanRed;
        }
    }
    &__textarea {
        display: flex;
        align-items: flex-end;
    }
}

.form-control {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.15em;
    color: $zombie;
    border-bottom: 1px solid $color-primary;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $color-primary;
    &__textarea {
        line-height: 1.4;
        height: 70%;
    }
    &:hover {
        ~ .form-label {
            color: $color-primary;
        }
    }
    &:focus,
    &.ng-dirty {
        outline: 0;
        ~ .form-label {
            &:after {
                visibility: visible;
                width: 100%;
                left: 0;
            }
            .form-label-content {
                color: $zombie;
                transform: translate3d(0, -1.4em, 0) scale3d(0.8, 0.8, 0.8) translateZ(1px);
            }
        }
    }
}

.form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary;
    &__checkbox {
        transition: ease-in 0.2s;
        cursor: pointer;
        color: $color-ternary;
        &:hover {
            opacity: 0.8;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background: $zombie;
        transition: 0.2s ease all;
    }
    .form-label-content {
        display: block;
        padding: 0.9em 0 0.7em;
        font-size: 1.2em;
        transition: transform 0.3s;
        transform-origin: 0 50%;
        color: $color-primary;
    }
}

.checkbox {
    display: none;
    &:checked {
        ~ .form-label {
            .switch {
                &:before {
                    left: 45%;
                    background: $color-primary;
                }
            }
        }
    }
}

.switch {
    width: 34px;
    height: 14px;
    background: $color-ternary;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $color-ternary;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: 0;
        transition: 0.2s;
    }
    &:before {
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
}
